<section data-ng-controller="BeersController" data-ng-init="findOne()">
    <div class="page-header">

        <!-- App title -->
        <a href="/#!/"><h1>BierCell</h1></a>

        <!-- Breadcrumb -->
        <span class="glyphicon glyphicon-chevron-right"></span>

        <!-- Subpage title -->
        <h1>Edit Beer</h1>

        <!-- Save a new beer button -->
        <a type="button" class="btn btn-success" id="addBeerButton" href="/#!/beers/create">+</a>

        <!-- Log out button -->
        <a type="button" class="btn btn-danger pull-right" id="logOutButton" href="/auth/signout">Log out!</a>

        <!-- User account controls -->
        <li class="dropdown pull-right" style="list-style:none;" id="loggedUser">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<!-- Username of the logged in user -->
                    <span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
        </li>

    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>

                <div class="form-group">

                    <!-- Beer editing fields -->
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="beer.name" id="name" class="form-control" placeholder="Name" required>
                    </div>

                    <label class="control-label" for="brewery">Brewery</label>
                    <div class="controls">
                        <input type="text" data-ng-model="beer.brewery" id="brewery" class="form-control" placeholder="Name">
                    </div>

                    <label class="control-label" for="date">Best before</label>
                    <div class="controls">
                        <input type="date" data-ng-model="beer.bestBefore" id="date" class="form-control">
                    </div>

                    <label class="control-label" for="quantity">Quantity</label>
                    <div class="controls">
                        <input type="number" data-ng-model="beer.quantity" id="quantity" class="form-control">
                    </div>

                    <label class="control-label" for="price">Price</label>
                    <div class="controls">
                        <input type="text" data-ng-model="beer.price" id="price" class="form-control">
                    </div>
                </div>

                <!-- Submit button -->
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>

                <!-- Error field -->
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

            </fieldset>
        </form>
    </div>
</section>
