<section class="beerListBG" data-ng-controller="BeersController" data-ng-show="authentication.user" data-ng-init="find()">
    <div class="page-header">

        <!-- Header of the page -->
        <h1>BierCell</h1>
        <a type="button" class="btn btn-success" id="addBeerButton" href="/#!/beers/create">+</a>

        <!-- pull-right-->
        <a type="button" class="btn btn-danger pull-right" id="logOutButton" href="/auth/signout">Log out!</a>
        <li class="dropdown pull-right" style="list-style:none;" id="loggedUser">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
        </li>

    </div>

    <!-- Content root -->
    <div class="list-group beerList" ng-init="orderby='bestBefore'">

      <button ng-click="orderby='quantity'" class="btn sortButton">Quantity</button>
      <button ng-click="orderby='price'" class="btn sortButton">Price</button>
      <button ng-click="orderby='bestBefore'" class="btn sortButton">Best Before</button>
      <button ng-click="orderby='name'" class="btn sortButton">Name</button>

      <div data-ng-repeat="beer in beers | orderBy:orderby" class="list-group-item beerListItem">
  			<div class="row">

                  <!-- Beer quantity, user can add and remove beers from list view -->
            <div class="col-md-2 text-center">
                    <input type="submit" ng-click="subtractBeer()" class="btn votingButton" value="-">
                    <big data-ng-model="beer.quantity" class="beerQuantity">{{ beer.quantity }}</big><input type="submit" ng-click="incrementBeer()" class="btn votingButton" value="+">
                </form>
            </div>

            <!-- Beer information, clickable, goes to view-beer.client.view -->
            <a href="#!/beers/{{beer._id}}">
              <div class="col-md-10">
                <h4 class="list-group-item-heading" data-ng-bind="beer.name"></h4>
                <span class="text-muted" data-ng-hide="!beer.brewery">by </span><span class="text-muted" data-ng-hide="!beer.brewery" data-n-bind="beer.brewery"></span><span class="text-muted" data-ng-hide="!beer.brewery">, </span>
                <span data-ng-hide="!beer.bestBefore">best before: </span><span data-ng-bind="beer.bestBefore|date:'mediumDate'"></span> 
              </div>
            </a>

        </div>
      </div>
    </div>

    <!-- Alert to user who has no beers. That's serious. -->
    <div class="alert alert-warning text-center" data-ng-hide="!beers.$resolved || beers.length">
    	No Beers yet, why don't you <a href="/#!/beers/create">create one</a>?
    </div>
</section>
