<section class="beerListBG" data-ng-controller="BeersController" data-ng-show="authentication.user" data-ng-init="find()">
    <div class="page-header">
        <h1>BierCell</h1>
        <a type="button" class="btn btn-success" id="addBeerButton" href="/#!/beers/create">+</a>
        <a type="button" class="btn btn-danger pull-right" id="logOutButton" href="/auth/signout">Log out!</a>
        <li class="dropdown pull-right" style="list-style:none;" id="loggedUser">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
        </li>
    </div>
    <div class="list-group beerList">
        <div data-ng-repeat="beer in beers" class="list-group-item beerListItem">
			<div class="row">
                <div class="col-md-1 text-center">
                    <input type="submit" ng-click="subtractBeer(beer)" class="btn btn-default" value="-">
                    <big data-ng-model="beer.quantity">{{ beer.quantity }}</big><input type="submit" ng-click="incrementBeer(beer)" class="btn btn-default" value="+">
                </div>
                <a href="#!/beers/{{beer._id}}">
                    <div class="col-md-11">
                        <h4 class="list-group-item-heading" data-ng-bind="beer.name"></h4>
                        <span class="text-muted" data-ng-hide="!beer.brewery">by </span><span class="text-muted" data-ng-hide="!beer.brewery" data-ng-bind="beer.brewery"></span>
                        <span>, best before: </span><span data-ng-bind="beer.bestBefore|date:'mediumDate'"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!beers.$resolved || beers.length">
    	No Beers yet, why don't you <a href="/#!/beers/create">create one</a>?
    </div>
</section>
