/* --------------------------------------------- *
 *              General settings                 *
 * --------------------------------------------- */

 /* Darken this shit up >:( */
.content, body {
    background: #222;
    color: #fff;
}

/* Removing default Bootstrap list behaviour */
.beerList {
    border-radius: 0 !important;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border: none;
}

/* Overriding default Bootstrap colours */
.list-group-item-heading {
    color: #ccc !important;
}

/* --------------------------------------------- *
 *                  App details                  *
 * --------------------------------------------- */

/* Page header styling */
.page-header {
    border-color: #272727;
    border-width: 3px;
}.page-header h1 {
    display:inline;
}.glyphicon-chevron-right {
    padding: 8px;
    position: relative;
    top:-4px;
}.page-header a {
    color: inherit;
}

/* Buttons in page header */
#addBeerButton {
    position:relative;
    bottom:8px;left:12px;
}#logOutButton {
    position:relative;
    bottom:-2px;
}#loggedUser {
    right: 18px;
    top: 9px;
}

/* Sort buttons above the list */
.sortButton {
    background: #333;
}

/* Beer wrapper in list-view */
.beerListItem {
    background: #191919;
    border: none;
    color: #fff;
}.beerListItem:hover {
    background: #151515!important;
}.beerListItem a {
    color: #fff;
}

/* Plus and minus buttons which wrap the quantity in list-view */
input.votingButton {
    background: transparent;
    clear: none;
    padding: 8px;
    border: none;
    font-size: 20px;
}

/* Beer quantity in list-view */
.beerQuantity {
    line-height: 28px;
}

/* Removes border-radius */
.btn {
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
}
